body{
    background-color:#F5F8FF;
    
}

.noto{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* main global ends*/

/*navbar starts*/
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 60px;
}
.navbar-main-div{
    display: flex;
    gap: 30px;
    
}
.navbar-main-div p{
    padding-top: 5px;
}
.cart h4{
    font-weight:400;
}
.navbar-main-section img{
    height: 20px;
    width: 20px;
    padding-top: 15px;
}
.cart{
    display: flex;
    gap: 10px;
}
/*navbar ends*/

/*fresh*/
.fresh-section{
    display: flex;
    margin: 60px;
    gap: 230px;
}
.fresh-text-section h1{
    margin-bottom: 0;
    font-size: 65px;
}
.fresh-text-section p{
    margin-top: 0;
    font-size: 22px;
    color: grey;
}

/*fresh ends*/

/*our plant start*/
.Our-plant-section{
    margin: 10px;
}
.our-plant-text-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.our-plant-text-section h1{
    font-size: 50px;
    margin-bottom: 0;
}
.our-plant-text-section p{
    font-size: 22px;
    align-items: center;
    text-align: center;
    color: grey;
}
.signle-card{
    align-items: center;
    text-align: center;
    font-weight: 500;
}
.signle-card button{
    align-items: center;
    text-align: center;
    font-size: 16px;
    background-color: #E95A08;
    color: #F5F8FF;
    border: none;
    width: 270px;
    height: 50px;
    margin-bottom: 20px;
}
.flower-card-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

/*our plant ends*/

/*flower plant lover start*/

.flower-lover-section{
    margin: 60px;
    display: flex;
    align-items: flex-start;
    gap: 120px;
    position: relative;
}
.text-section{
    padding-top: 30px;
    padding-left: 60px;
}
.flower-lover-section h1{
    font-size: 50px;
}
.flower-lover-section ul{
    font-size: 22px;
}
.flower-lover-section li{
    margin-top: 10px;
    color: gray;
    text-align: justify;
}
.badge {
    position: absolute;
    top: -90px;
    left: 400px;
    width: 220px;
    height: auto;
    animation: spin 5s linear infinite;
}
.badge img{
    height: 300px;
    width: 300px;
 
}
/*flower plant lover ends*/
/*latest deals*/
.latest-deal-section{
    margin: 60px;
    align-items: center;
    text-align: center;
}
.latest-text{
    text-align: center;
    justify-content: center;
    
}
.latest-text h1{
    font-size: 50px;
}
.latest-text p{
    font-size: 22px;
}
.deal-image{
    color: white;
    text-align: center; 
    align-items: center;
    justify-content: center;
}
.deal-image a{
    color: white;
}
.deal-image{
    display: flex;
   
    gap: 30px;
}
.bloom{
    background-image: url(./assets/deal-bloom.png);
    border-radius: 10px;
    filter: brightness(.8);
    height: 205px;
    width: 410px;
    background-size: cover;
    background-repeat: no-repeat;
}
.bloom h1{
    font-size: 20px;
    padding-top: 60px;
}
.bloom a{
    font-size: 16px;
}
.ana{
    background-image: url(./assets/deal-ana.png);
    border-radius: 10px;
    filter: brightness(.8);
    height: 205px;
    width: 410px;
    background-size: cover;
    background-repeat: no-repeat;

}
.ana h1{
    font-size: 20px;
    padding-top: 60px;
}
.ana a{
    font-size: 16px;
}
.zabo{
    background-image: url(./assets/deal-zabo.png);
    border-radius: 10px;
    filter: brightness(.8);
    height: 423px;
    width: 830px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 3px;
}
.zabo h1{
    font-size: 40px;
    padding-top: 80px;
}
.zabo a{
    font-size: 28px;
}
/*latest deal ends*/

/*join colorful bunch*/
.join-us{
    background: url(./assets/news-letter-bg.png);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 533px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.join-us-text h1{
    padding-top: 200px;
    font-size: 50px;
    color: white;
}
.subscribe input{
    height: 50px;
    width: 644px;
    font-size: 16px;
    
}

.subscribe button{
    font-size: 16px;
    background-color: #E95A08;
    border: none;
    height: 55px;
    width: 160px;
    color: white;
}
button:hover{
    background-color: green;
    transition: background-color 0.3s ease;

}

/*join colorful bunch ends*/

/*footer starts*/
.footer-container{
    display: flex;
    justify-content: space-between;
    margin: 60px;
    gap: 10px;
    color:gray;
}
.footer-details{
    font-size: 22px;
   
}
.footer-links{
    display: grid;
    grid-template-columns: repeat(2,5fr);
    gap: 50px;  
    
}
.footer-links a{
    text-decoration: none;
    color: gray;
}
.icon-class img{
    padding-right: 20px;
}
/*footer ends*/
/* responsive*/

@media only screen and (max-width: 428px){
    body{
         background-color:#F5F8FF;
         margin: 10px;
    }
    .navbar-main-div p,
    .navbar-main-div h3{
        display: none;
    }
    .cart{
       margin-top: 30px;
       margin-left: 40px;
    }
    .navbar{
        display: flex;
    }
    /*fresh flowers*/
    .fresh-section{
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        align-items: center;
        gap: 0;
    }
    .fresh-image-section img{
        height: 245px;
        width: 394px;
        padding-right: 30px;
        margin-right: 10px;
        display: flex;
    }
    .fresh-image-section{
        margin-bottom: 0;
    }
    .fresh-text-section{
        margin-top: 0;
    }
    .fresh-text-section h1{
        font-size: 24px;
    }
    .fresh-text-section p{
        font-size: 16px;
    }

    /*out plant*/
    .our-plant-text-section{
        justify-content: center;
        text-align: center;
    }
    .our-plant-text-section h1{
        font-size: 24px;
    }
    .our-plant-text-section p{
        font-size: 14px;
    }
    .signle-card{
        text-align: center;
    }
    .signle-card img{
        width: 200px;
        height: 300px;
    }
    .signle-card button{
        width: 200px;
    }
    .flower-card-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        padding-left: 10px;
    }
    /*f;ower lover*/
    .flower-lover-section{
        display: flex;
        flex-direction: column;
        margin: 10px;
        gap: 0;
        align-items: center;
        justify-content: center;
    }
    .image-section img{
        width: 400px;
    }
    .text-section h1{
        font-size: 24px;
    }
    .text-section li{
        font-size: 14px;
    }
    .badge{
        display: none;
    }
    /*deal*/
    .image-section{
        display: flex;
        flex-direction: column;
    }
    .deal-image{
        display: flex;
        flex-direction: column;
    }
    .zabo{
        height: 205px;
        width: 410px;
    }
    .bloom h1{
       font-size: 20px;
    }
    .bloom a{
        font-size: 16px;
    }
    .ana h1{
       font-size: 20px;
    }
    .ana a{
        font-size: 16px;
    }
    .zabo h1{
       font-size: 20px;
    }
    .zabo a{
        font-size: 16px;
    }
    .latest-text h1{
        font-size: 24px;
    }
    .latest-text p{
        font-size: 14px;
    }
    /*deal ends*/

    /*subscribe*/
    .join-us-text h1{
        font-size: 24px;
    }
    .subscribe input{
        width: 200px;
    }
    /*footer*/
    .footer-container{
        display: flex;
        flex-direction: column;
    }
    .footer-details{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-details p{
        font-size: 16px;
    }
    .footer-links{
        display: flex;
        flex-direction: column;
    }
    br{
        display: none;
    }
}